
.main{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .icon{
        display: flex;
        background-color: transparent;
        align-items: center;
        height: 100%;
        left: 0;
        position: relative;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -1px;
    }

        .ham{
        width: 55px;
        margin-left: 10px;
        }
        .ham:hover{
            cursor: pointer;
        }

        .youIcon{
        width: 30px;
        margin-left: 10px;
        margin-right: 5px;
        }

    .searchBar{
        background-color: transparent;
        flex: 1;
        justify-content: center;
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 80px;
    }
        .searchWrap{
            display: flex;
            max-width: 650px;
            width: 100%;
            border-radius: 30px;
            
        }
            .searchContainer{
                display: flex;
                flex: 1;
                position: relative;
            }
                .searchBar1{
                    font-size: 16px;
                    border-radius: 30px 0 0 30px;
                    border: 1px solid #d3d3d3;
                    height: 37px;
                    outline: none;
                    box-shadow: none;
                    color: black;;
                    padding-left: 25px;
                    display: flex;
                    align-items: center;
                    line-height: 37px;
                    flex: 1;
                }
                    .searchBar1:focus {
                        outline: none;
                        box-shadow: inset 0 0 0 1px #1a73e8;
                    }
                    .searchBar1::placeholder {
                    margin-top: 10px;
                    font-size: 15px;
                    }
                    .suggestionBox{
                        margin-top: 2px;
                        padding-top: 11px;
                        width: 100%; 
                        top: 100%;
                        background-color: white;
                        color: black;
                        position: absolute;
                        border-radius: 10px 10px 10px 10px;
                        padding-bottom: 11px;
                    }
                        .suggestionItem{
                            display: flex;
                            align-items: center;
                            background-color: white;
                            border-radius: 5px;
                            padding-left: 10px;
                            width: 90%;
                            margin-left: 10px;
                            height: 42px;
                        }
                        .suggestionItem:hover{
                            filter: brightness(93%);
                            transition: filter 0.2s ease;
                        }
                            .searchItem{
                                padding-left: 10px;
                            }
            .searchIcon{
                border-radius: 0px 30px 30px 0px;
                border: 1px solid #d3d3d3;
                height: 41px;
                margin-left: -1px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:#f2f2f2;
                box-shadow: none;
                width: 60px;
                transition: filter 0.2s ease;
            }
                .searchIcon:hover{
                    filter: brightness(90%);
                    cursor: pointer;
                }
                .searchIcon:focus {
                    outline: none;
                    box-shadow: none;
                }
                .searchIcon>img{
                    width: 30px;
                    margin-left:-3px;
                }
            .micBut{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                border: none;
                position: relative;
                margin-left: 15px;
                background-color:#f1f1f1;
                z-index: 100;
            }
                .micBut:hover {
                    filter: brightness(0.87);
                    transition: filter 0.2s ease;
                    cursor: pointer;
}
    .right{
        background-color: white;
        width: 240px;
        right: 15px;
        position: relative;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: right;
        align-items: center;
    }
            .more{
                margin-right: 10px;
                width: 30px;
                right: 0;
                cursor: pointer;
            }
            .signinBut{
                background-color: transparent;
                border-radius: 20px;
                border: 1px solid #d3d3d3;
                display: flex;
                align-items: center;
                justify-content: right;
                padding-right: 13px;
                width: 95px;
                height: 36px;
                color: #1A73E8;
                transition: background-color 0.2s ease;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
            }
                .signinBut:hover{
                    background-color: #E8F0FE;
                }
            .signin{
                position: absolute;
                padding-left: -10px;
                width: 40px;
                display: block;
                margin-right: 39px;
            }
.youtube{
    height: 75px;
    margin-left: -10px;
}
.youtube:hover{
    cursor: pointer;
}
.mic{
    height: 70px;
}
.newSearch{
    width: 30px;
}